<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <div id="title"><h2>实时火星画面</h2><br><span>信号来自：欧洲空间局“火星快车”号探测卫星</span></div>
    <div id="imgbox">
        <img src="a.jpg" />
    </div>
</body>
</html>