html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}
#title {
    z-index: 99999;
    position: absolute;
    top: 100px;
    left: 0;
    height: 160px;
    width: 200px;
    color: #fff;
    background-color: rgba(238,238,238,.14);
    padding: 20px;
}
#imgbox {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height:100%;
    overflow-y: hidden;
}
#imgbox img {
    border: 0px;
    height: 100%;
    /*display: block;*/
}